
body {
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0px;
    top: 0px;
    z-index: -1000;
    overflow: hidden;
}

video#bgVideo {
    min-height: 100%;
    min-width:100%;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#CompanyLogo {
    border-radius: 50%;
    animation: pulse 4s infinite;
}

.row {
    margin-top: -40px;
    width: 100%;
}

#homeNav {
    margin-right: 30px;
}

#homeNav li {
        font-size: 20px;
        font-weight: bold;
        z-index: 100;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent !important;
}

#NeonButton {
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 30px;
}

#setting {
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 15px;
}
