@model TrashCollectorProject.Models.Customer

@{
    ViewBag.Title = "GoogleMapsAPI";
}

<head>
        <style>
            #map {
                height: 400px; 
                width: 100%; 
            }
        </style>
    </head>

    <h2>GoogleMapsAPI</h2>

    <body>
        <h3>My Google Maps Demo</h3>

        <div id="map"></div>
        <script>
            function initMap() {
                var lats = @Html.Raw(Json.Encode(Model.latitude));
                var lngs = @Html.Raw(Json.Encode(Model.longitude));
                var coords = { lat: lats, lng: lngs };

                var map = new google.maps.Map(
                    document.getElementById('map'), { zoom: 4, center: coords });
                var marker = new google.maps.Marker({ position: coords, map: map });
            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9VqyRQ0U9jrBEYpymyq1xB5zzGsnbLnc&callback=initMap">
        </script>
    </body>

