@model TrashCollectorProject.Models.Customer

@{
    ViewBag.Title = "GoogleMapsAPI";
}

<head>
        <style>
            /* Set the size of the div element that contains the map */
            #map {
                height: 400px; /* The height is 400 pixels */
                width: 100%; /* The width is the width of the web page */
            }
        </style>
    </head>

    <h2>GoogleMapsAPI</h2>

    <body>
        <h3>My Google Maps Demo</h3>
        <!--The div element for the map -->
        <div id="map"></div>
        <script>
            // Initialize and add the map
            function initMap() {
                var lats = @Html.Raw(Json.Encode(Model.latitude));
                var lngs = @Html.Raw(Json.Encode(Model.longitude));
                var coords = { lat: lats, lng: lngs };
                // The map, centered at Uluru
                var map = new google.maps.Map(
                    document.getElementById('map'), { zoom: 4, center: coords });
                // The marker, positioned at Uluru
                var marker = new google.maps.Marker({ position: coords, map: map });
            }
            /*
             * var geocoder;
          var map;
          var address = "new york city";
          function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 8,
              center: {lat: -34.397, lng: 150.644}
            });
            geocoder = new google.maps.Geocoder();
            codeAddress(geocoder, map);
            */
        </script>
        <!--Load the API from the specified URL
        * The async attribute allows the browser to render the page while the API loads
        * The key parameter will contain your own API key (which is not needed for this tutorial)
        * The callback parameter executes the initMap() function
        -->
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9VqyRQ0U9jrBEYpymyq1xB5zzGsnbLnc&callback=initMap">
        </script>
    </body>

