@model TrashCollectorProject.Models.Customer

@{
    ViewBag.Title = "Budget";
}

<h2>Budget</h2>

<div>
    <h4>@Html.DisplayFor(model => model.firstName)'s bill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>Current Balance: </p>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bill)

        </dd>
    </dl>
    <br/>
    <br/>
    <div class="container">
        <div class="col-4" id="payPalButtons">
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Back to landing", "Index")
</p>

<script src="https://www.paypal.com/sdk/js?client-id=sb"></script>
<script>paypal.Buttons().render('#payPalButtons');</script>
